API_URL=http://backend:8000
HASH_SECRET_KEY=strong_hash_for_jwt_here
HASH_ALGORITHM=HS256
HASH_TOKEN_EXPIRE_MINUTES=60
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bandit-brain-db
DATABASE_URL=postgresql://postgres:postgres@db:5432/bandit-brain-db